body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #06243C;
    color: white;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

#tree-container {
    width: 100%;
    height: 90vh;
}

svg {
    width: 100%;
    height: 100%;
}
