body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #06243C;
    color: white;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

/* SIMPLE NARROW BAR UNDER TITLE */
.top-divider {
    width: 100%;
    height: 6px;               /* thin bar */
    background-color: #ffffff33;   /* subtle transparent white */
    margin: 10px 0 20px 0;
}

#tree-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

svg {
    width: 1400px;
    height: 900px;
}
