body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;     /* pure white page */
    color: black;          /* text normal */
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

#tree-container {
    width: 100%;
    height: 90vh;
}

svg {
    width: 100%;
    height: 100%;
}
